*{
  font-family: 'Poppins', sans-serif;
}
.image-item{
  width: 60%;
  max-height: 30%;
  position: relative;
}
.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}
.main-container .container{
  position: relative;
  width: 600px; 
  max-height: 400px;
}
.container img{
  position: relative;
  width: 100%;
  max-height: 400px;
}
.description{
  font-size: .8rem;
}
.profile-pic{
  max-width: 35px;
  height: 35px;
}
/* para sa comment  */
.comment-container{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-y: scroll;
}
.comment-container::-webkit-scrollbar {
  display: none; 
}

.comment{
  background: #EFF2FC;
  position: relative;
  width: 100%;
}
.date p{
  font-size: .8rem;
  transform: translateY(40%);
}
:deep(.profile-pic-in-comment), .profile-in-comment img{
  position: relative;
  width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 50%;
}
.action-in-comment{
  cursor: pointer;
}
.action-in-comment:hover{
  color: #198754;
}
.action-container{
  position: absolute;
  right: 10%;
  background: #ece8e8;
  cursor: pointer;
}
.action-container:hover{
  background: #dfdada;
}
.modal .modal-dialog{
  max-width: 800px !important; 
}
.modal .modal-body{
  height: auto;
  min-height: 700px !important;

}
.post-container{
  padding: 1.5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}
@media screen and (max-width: 768px){
  .image-item{
    max-width: 100%;
    height: 300px;
    margin: 0;
  }
  .header, .mark-as-resolve-container , .comment-main-container{
    max-width: 350px;
  }
  .post-container{
    width: 90%;
    margin: auto;
    /* width: 75%; */
    margin-top: 1rem;
    padding: 0;
    box-shadow: none !important;
  }
}
